<%= flash[:alert3] %>
<h1>Books</h1>
<table>
 <tr>
<th>Tilte</th>
<th>Body</th><br>
</tr>
<% @lists.each do |list| %>
<tr>
 <td><%= list.title %></td>
 <td><%= list.body %></td>
 <td><%= link_to "Show", list_path(list.id) %></td>
 <td><%= link_to "Edit", edit_list_path(list.id) %></td>
 <td><%= link_to "Delete", destroy_list_path(list.id), method: :delete, "data-confirm" => "本当に削除しますか？"%></td>
 </tr>
<% end %>
</table>


<h2>New book</h2>
<% if @list.errors.any? %>
  <%= @list.errors.count %> error prohibited this book from being saved:
  <ul>
    <% @list.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @list do |f| %>
<h4>Title</h4>
 <%= f.text_field :title %>
<h4>Body</h4>
 <%= f.text_field :body %>
 <%= f.submit 'submit' %>
<% end %>
